





/* - - - <style type='text/css'>  - - - */



<style>
div.a { font-size: 15px; font-family: "Times New Roman", Times, serif; }
div.b { font-size: large; font-family: "Times New Roman", Times, serif;}
div.c { font-size: 150%;  font-family: "Times New Roman", Times, serif;}
div.rtc { font-size: 400%;  font-family: "digital-7", sans-serif; background-color: rgb(78, 225, 56);
			border-style: dotted;  height: auto;  width: 250px; }
</style>



/* - - - FIM  - - - */
/* - - - FIM  - - - */
/* - - - FIM  - - - */